[submodule "src/dataprep"]
	path = src/dataprep
	url = git@github.com:bharadwajakshay/cylindricalLiDARProj.git
[submodule "src/external/UNet3D"]
	path = src/external/UNet3D
	url = git@github.com:bharadwajakshay/pytorch-3dunet.git
